body{
    background-image: url(./images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    padding: 100px 20px
}

#heading {
    position: relative;
    text-align: center;
}

#navigation {
    width: 90%;
    margin-left:25px;
    position: absolute;
    border: 2px solid white;
    top: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.image {
    border-radius: 10%;
    margin-top: 200px;
    box-shadow: 0px 0px 50px black;
}
.a {
    color: white;
    font-size: 20px;
    margin: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.head_text{
    color: wheat;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px black;
}
.heading_paragraph{
    color: white;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin: none;
    text-shadow: 1px 1px 2px black;
}
.biography_paragraph{
    color: white;
    font-size: 20px;
    text-align: justify;
    border:2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.skills{
    color :white;
    font-size: 30px;
    text-shadow: 2px 2px black;
    box-sizing: content-box;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
}
.skills_list{
    color: white;
    font-size: 20px;
    text-align: justify;
    border:2px ;
    padding: 10px;
    list-style-type: none;
    border-radius: 10px;
    text-align: center;
}
.list_item{
    display: inline;
    text-align: center;
    border: 2px solid white; padding: 10px;
    padding: 10px;
    border-radius: 10px;
    margin: 50px;
    color: black;
    background-color: white;
}

#contact{
    margin: 50px;
}
.contact_text{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color : white;
    font-size: 30px;
    text-align: center;
}
.contact_paragraph{
    color : white;
    font-size: 20px;
    text-align: center;
}