#heading{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    border-bottom: 2px solid white;
    box-shadow: 2px 2px 10px black;
}
header div nav a{
    margin-right: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    
}
a:hover{
    background-color: grey;
    border-radius: 10%;
    padding: 10px;
    
}

#hero {
    border : 2px white;
    box-shadow: 2px 2px 10px black;;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
#hero:hover{
    background-color: Black;
    cursor: pointer;
}
section div img{
    border-radius: 10px;
    border: 2px solid white;
    margin-right: 20px;
    align-items: center;
    margin-top: 5px;
}
.information {
    color: white;
    text-align: justify;
    font-size: 0.9em;
}
body{
    background-image: url(./images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    padding: 100px 20px
}
.skills{
    color :white;
    font-size: 30px;
    text-shadow: 2px 2px black;
    box-sizing: content-box;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
}
.skills_list{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 20px;
    text-align: justify;
    border:2px;
    padding: 10px;
    list-style-type: none;
    border-radius: 10px;
    text-align: center;
}
.list_item{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    box-shadow: 2px 2px 10px white;
}
.list_item:hover{
    background-color: black;
}

#contact{
    margin: 50px;
}
.contact_text{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color : white;
    font-size: 30px;
    text-align: center;
}
.contact_paragraph{
    color : white;
    font-size: 20px;
    text-align: center;
}